<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">No.</th>
        <th scope="col">Team Name</th>
        <th scope="col">Point Team</th>
        <th scope="col">Player Name</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>PSG.LGD</td>
        <td>150</td>
        <td>1. AME<br>
            2. Xinq<br>
            3. NothingToSay<br>
            4.Faith_bian<br>
            5. Y`</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Team Secret</td>
        <td>100</td>
        <td>1. MATUMBAMAN<br>
            2. Nisha<br>
            3. Zay<br>
            4. Yapzor<br>
            5. Puppey</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Team Spirit</td>
        <td>200</td>
        <td>1. Yatoro<br>
            2. TORONTOTOKYO<br>
            3. Collapse<br>
            4. Mira<br>
            5. Miposhka</td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td>Invictus Gaming</td>
        <td>90</td>
        <td>1. Flyfly<br>
            2. Emo<br>
            3. Jt-<br>
            4. Kaka<br>
            5. Oli</td>
      </tr>
    </tbody>
  </table>