
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">No.</th>
        <th scope="col">Play Team</th>
        <th scope="col">Date</th>
        <th scope="col">Result</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Invictus Gaming <br>
            VS <br>
            TEAM SPIRIT</td>
        <td>October 14, 2021</td>
        <td>1 - 2</td>
        <tr>
            <th scope="row">2</th>
            <td>Invictus Gaming <br>
                VS <br>
                PSG.LGD</td>
            <td>October 15, 2021</td>
            <td>1 - 2</td>
          </tr>      <tr>
            <th scope="row">3</th>
            <td>TEAM SPIRIT  <br>
                VS <br>
                TEAM SECRET</td>
            <td>October 16, 2021</td>
            <td>3 - 0</td>
          </tr>      <tr>
            <th scope="row">4</th>
            <td>TEAM SPIRIT <br>
                VS <br>
                PSG.LGD</td>
            <td>October 17, 2021</td>
            <td>3 - 2</td>
          </tr>
    </tbody>
  </table>