<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">No.</th>
        <th scope="col">Username</th>
        <th scope="col">Team Name</th>
        <th scope="col">Name</th>
        <th scope="col">Gender</th>
        <th scope="col">Country</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>AME</td>
        <td>PSG.LGD</td>
        <td>萧瑟 (xiāo sè)</td>
        <td>Man</td>
        <td>Chinese</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>XinQ</td>
        <td>PSG.LGD</td>
        <td>Zixing</td>
        <td>Man</td>
        <td>Chinese</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>MATUMBAMAN</td>
        <td>TEAM SECRET</td>
        <td>马桶 (Mǎ Tǒng)</td>
        <td>Man</td>
        <td>Chinese</td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td>Zai</td>
        <td>TEAM SECRET</td>
        <td>Wåhlberg</td>
        <td>Man</td>
        <td>Swedish</td>
      </tr>      
      <tr>
        <th scope="row">5</th>
        <td>TORONTOTOKYO</td>
        <td>TEAM SPIRIT</td>
        <td>MIO</td>
        <td>Man</td>
        <td>Russian</td>
      </tr>
      <tr>
        <th scope="row">6</th>
        <td>Collapse</td>
        <td>TEAM SPIRIT</td>
        <td>Khalilov</td>
        <td>Man</td>
        <td>Russian</td>
      </tr>
      <tr>
        <th scope="row">7</th>
        <td>Flyfly</td>
        <td>Invictus Gaming</td>
        <td>Zhiyi</td>
        <td>Man</td>
        <td>Chinese</td>
      </tr>
      <tr>
        <th scope="row">8</th>
        <td>Kaka</td>
        <td>Invictus Gaming</td>
        <td>Liangzhi</td>
        <td>Man</td>
        <td>Chinese</td>
      </tr>
    </tbody>
  </table>